<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>planes</key>
		<array>
			<dict>
				<key>delay</key>
				<integer>0</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>1</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>delay</key>
				<integer>1</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>delay</key>
				<integer>0</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>4</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.35</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>8</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.9</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>4</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.65</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.85</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.65</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.65</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>1</integer>
				<key>positionY</key>
				<real>0.9</real>
			</dict>
			<dict>
				<key>delay</key>
				<integer>3</integer>
				<key>type</key>
				<string>fast</string>
				<key>enemy</key>
				<true/>
				<key>positionX</key>
				<integer>0</integer>
				<key>positionY</key>
				<real>0.65</real>
			</dict>
		</array>
		<key>background</key>
		<string>bg-1</string>
		<key>name</key>
		<string>Level One</string>
	</dict>
</array>
</plist>
